/* body */
body {
    background-image: url(image/suns.jpg);
}


/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-brand {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron{
    background-image: url(image/suns.jpg);
    background-size: cover;
    height: 800 px;
    text-align: center;
    position: relative;
    font-family: 'Caveat', cursive;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); 
    position:absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-bottom: 30px;
    margin-top: 100px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 42px;
}

.jumbotron .display-4 span{
    font-weight: 800;
}

/* Info Panel */
.info-panel {
    box-shadow: 1px 3px 20px  rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin-top: -80px;
    background-color: white;
    padding: 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    color: grey;
    margin-top: -5px;
    font-weight: 200;
}

/* BUY BOOKS */
.buybook {
    margin-top: 120px;
}

.buybook h3{
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 15px;
}

.buybook h3 span{
    font-weight: 800;
}

.buybook p{
    font-size: 16px;
    color: rgb(31, 30, 30);
    font-weight: 250;
    margin: 25px 0;
    margin-right: 20px;
    margin-left: 15px;
}

.buybook img{
    height: 400px;
    width: 300px;
    margin-right: 20px;
    margin-left: 15px;
}

.tombolbuybook{
    margin-right: 20px;
    margin-left: 15px;
}

/* Testimoni */
.testimoni {
    margin-top : 100px;
}

.testimoni h5{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 40px;
}


.figure img{
    width: 70px;
    height: 70px;
    margin: 40px 20px 20px;
    opacity:0.5;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.figure img.utama{
    width: 100px;
    height: 100px;
    margin-top: -4px;
    opacity: 1;
    filter: alpha(opacity=0);
}

.figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: rgb(12, 12, 51);
    margin-bottom: 10px;
}

.figure p{
    font-size: 12px;
    color: rgb(53, 53, 53);
    margin-top: -5px !important;
}

.figure h6{
    text-align:center;
    color:rgb(31, 30, 30);
}

.figure-caption {
    text-align: center;
}

.figure{
    text-align:center;
}

/* Footer */
.footer{
    margin-top: 140px;
}

.footer p{
    color:rgb(58, 58, 58);
    font-size: 12px;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif !important;
}

.tombol2 {
    margin-bottom: 80px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8)
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 600px;
    }
    
    .jumbotron .display-4{
        font-size: 62px;
    }

    .buybook{
        text-align: left;
    }

    .buybook img{
        height: 600px;
        width: 500px;
    }
    .testimoni h5{
        font-size: 28px;
    }
}